In [2]:
import numpy as np
import pandas as pd

series1 = pd.Series(np.random.randn(9),
          index=[
             ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
             [1, 2, 3, 1, 2, 3, 1, 2, 3]
          ])
series1

a  1    0.635298
   2    0.070959
   3    0.298319
b  1    1.446979
   2   -0.522763
c  3   -1.243611
   1    0.366185
d  2   -0.962537
   3    1.250092
dtype: float64

In [4]:
series1['a']

np.float64(0.2983185810114979)

In [5]:
series1.unstack()

          1         2         3
a  0.635298  0.070959  0.298319
b  1.446979 -0.522763       NaN
c  0.366185       NaN -1.243611
d       NaN -0.962537  1.250092

In [6]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [14]:
series2 = frame.stack().stack()
series2.index.names = ['key1','key2','color','county']
series2

/tmp/ipykernel_38913/4097976574.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  series2 = frame.stack().stack()

key1  key2  color  county
a     1     Green  台北         0.0
                   台中         2.0
            Red    台北         1.0
      2     Green  台北         3.0
                   台中         5.0
            Red    台北         4.0
b     1     Green  台北         6.0
                   台中         8.0
            Red    台北         7.0
      2     Green  台北         9.0
                   台中        11.0
            Red    台北        10.0
dtype: float64

In [15]:
series2.unstack(level=['key1','county'])

key1          a          b
county       台北   台中    台北    台中
key2 color
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [16]:
series2.unstack(level=['key1','color'])

key1            a          b
color       Green  Red Green   Red
key2 county
1    台北       0.0  1.0   6.0   7.0
     台中       2.0  NaN   8.0   NaN
2    台北       3.0  4.0   9.0  10.0
     台中       5.0  NaN  11.0   NaN