In [1]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out

              日期   站名    進站    出站
0     2020-01-01   基隆  7552  8154
1     2020-01-01   三坑  1020  1135
2     2020-01-01   八堵  1623  1972
3     2020-01-01   七堵  4130  4813
4     2020-01-01   百福  1818  2128
...          ...  ...   ...   ...
86547 2022-12-31   瑞芳  3984  3893
86548 2022-12-31  海科館    92   115
86549 2022-12-31  八斗子   131   159
86550 2022-12-31  四腳亭   494   426
86551 2022-12-31   暖暖   313   274

[406761 rows x 4 columns]

In [2]:
station_in_out.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406761 entries, 0 to 86551
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   日期      406761 non-null  datetime64[ns]
 1   站名      406761 non-null  object
 2   進站      406761 non-null  int64
 3   出站      406761 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 15.5+ MB

In [3]:
station_in_out.query('站名=="基隆"').max()

日期    2023-12-31 00:00:00
站名                     基隆
進站                  15010
出站                  12986
dtype: object

In [7]:
station_in_out.groupby(by='站名')['進站'].max()

站名
七堵     7704
三坑     1715
三塊厝     933
三姓橋    2125
三民       52
       ...
鼓山     2352
龍井     2131
龍泉      103
龍港      106
龜山      389
Name: 進站, Length: 241, dtype: int64