In [ ]:
import pandas as pd
all = pd.read_csv('world.csv')
all_filter = all[['洲名','國家','日期','總確診數','新增確診數']]
all_filter

In [ ]:
all_filter[all_filter['國家'] == '台灣']

In [ ]:
all_filter[(all_filter['國家'] == '台灣') | (all_filter['國家'] == '日本')]

In [ ]:
#query()
all_filter.query('國家=="台灣"')
taiwan_japan = all_filter.query('國家=="台灣" or 國家=="日本"')

In [16]:
taiwan_japan.query('日期=="2022-02-05"')

        洲名  國家          日期     總確診數   新增確診數
86371   亞洲  日本  2022-02-05  3219621  102275
164737  亞洲  台灣  2022-02-05    19101      72

In [ ]:
february = taiwan_japan.query('日期>="2022-02-01" and 日期<"2022-03-01"')
february

In [23]:
february.to_csv('february.csv')

In [25]:
february.to_excel('february.xlsx')