In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -1.584493  0.339088
1    a  two -0.413235 -1.766175
2    b  one -0.182604 -1.141820
3    b  two  0.097316  0.640862
4    a  one  0.127459 -1.875853

In [2]:
df.groupby(['key1','key2'])[['data1','data2']].max()

              data1     data2
key1 key2
a    one   0.127459  0.339088
     two  -0.413235 -1.766175
b    one  -0.182604 -1.141820
     two   0.097316  0.640862